.moviesList{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-left: 60px;
}

.infoPage{
  text-align: center;
}

.poster{
  border-radius: 10px;
}

.teaser{
  position: relative;
  left: 50px;
}

.back{
  position: absolute;
  left:10%;
  top:10px;
}
